language: python
python:
- 3.5
- 3.6
- 3.7
- 3.8
install:
- pip install -r requirements.txt
- python setup.py install
deploy:
  provider: pypi
  user: __token__
  password:
    secure: c2Otb3omkluwnNpS7hicRYzwWcePXul81Y6lIOpmtpmpb0bPVkX73ldmIsz+eQxqBc93nCAUdp4oulXBQwIMHHTWxPzjWnieW/GN5cpnt34dxPfInGV7dZxHSYnyk95SZfPwzZQcOtk/TWEb1SjZk4QsniKimZi5C5w1G8I+2/OVcPIuZsAs/bovvuQcqo6UoRVQZi2VR+RsIWdvCjDcL29Qk/0Su3+YjtprRnYqUDzAxM098zH2InovklmSaIrVhwOo/jRehr+iEtJQFMgjmvN6k+1ZtKszHUoeZmoTJWfVAd3n9k3ocMhfD/nMM9yay7fWaCxKFa1QTzIR41MmcXuqMzA7+0vVpd9jA+VXR5UE/120ed6sJCmYgIv7/WulGqSUtsyCgJYt5Xo5BNme5iOxS0EU2nbwqEaW3RfwUo1vizsLg/YaqW3f/lm8MGDQGF2SFvGSZFSNl64qWYviGhNiD/EDygL8ny1L3jXCBLbdMMAKfxtAEVecl4AUOI8iEYPY3seoL1HygdU39uaspdITtrfMOhzSETkAT+Q2/p3GKNK89okqXDRNZlPyLAJK7CUDCjOL3GkfPf4amu9bFS6SYx1cXRqibilX7gO+wEy3xPJHEWDp9Hqy65Epn+3tE1EJvpkorJUHkUdLQ9lgZT/P4X6Fem0aZA7PnkPFCCE=
  distributions: sdist bdist_wheel bdist_egg
  skip_existing: true
  on:
    branch: master
script:
- echo "Done"
